# EditorConfig is awesome: http://editorconfig.org

root = true  # top-most EditorConfig file

[*]
charset = utf-8
end_of_line = lf  # Unix-style newlines
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
