{
    "env": {
        "browser": true,
        "es6": true
    },
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    },
    "parser": "babel-eslint",
    "rules": {
        "strict": [2, "never"]
    },
    "plugins": [
        "react"
    ]
}
